<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:with="datetime=${#calendars.format(#calendars.createNow(),'yyyyMMddHHmmssSSS')}">
    <script th:src="@{/js/dummy.js}"></script>
    <link rel="stylesheet" th:href="@{/css/engineer.test.1.css(time=${datetime})}"/>

    <link rel="stylesheet" th:href="@{http://fonts.googleapis.com/css?family=Exo:900}"/>
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/semantic-ui/2.2.6/semantic.min.css}"/>

    <link rel="stylesheet" th:href="@{/css/main.css}">

    <title>TOP</title>
</head>
<body>

<nav th:insert="header.html :: header"></nav>

<div class="full height image">
    <div class="ui main container">
        <div class="menu bar"></div>
        <div class="ui information container center aligned">
            <h1 class="ui header">tiscon insurance</h1>
            <h2 class="bland-message">多彩なチカラが、広げる未来。</h2>

            <div class="index-block">
                <div class="index-icon" style="border:solid 3px #4B610B;">
                    <img src="/img/icon_treat.png">
                    <p class="index-text" style="top:40px;">★病気、ケガに備える</p>
                    <a href="/action/order/accept?insuranceType=treat" class="index-button"
                       style="top:90px; background-color: #4B610B;">
                        申し込み
                    </a>
                </div>

                <div class="index-icon" style="border:solid 3px #B40404;">
                    <img src="/img/icon_treatLady.png">
                    <p class="index-text" style="top:10px;">★病気、ケガに備える</p>
                    <p class="index-text" style="top:20px;">★女性特有の病気への特約つき</p>
                    <a href="/action/order/accept?insuranceType=treatLady" class="index-button"
                       style="top:42px; background-color: #B40404;">
                        申し込み
                    </a>
                </div>

                <div class="index-icon" style="border:solid 3px #0174DF;">
                    <img src="/img/icon_future.png">
                    <p class="index-text" style="top:30px;">★がんに備える</p>
                    <a href="/action/order/accept?insuranceType=future" class="index-button"
                       style="top:80px; background-color: #0174DF;">
                        申し込み
                    </a>
                </div>
            </div>

        </div>

    </div>
</div>
</div></body>
</html>
